<div class="container col-sm-6">

    <div class="input-group mb-3">
       <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">Buscar</button>
       <ul class="dropdown-menu">
         <li><a class="dropdown-item" href="#">Por Apellido</a></li>
         <li><a class="dropdown-item" href="#">Por edad mayor a</a></li>
         <li><hr class="dropdown-divider"></li>
         <li><a class="dropdown-item" href="/usuarios">Todos</a></li>
       </ul>
       <input type="text" class="form-control" aria-label="Text input with dropdown button" name="busqueda">
     </div>
</div>